body{
    background-color: rgb(170, 187, 144);
    text-align: center;
    color: rgb(101, 16, 14);
    margin: 50px;
}

h1{
    font-family: 'Oswald', sans-serif;

}
p{
    font-family: 'Fira Sans', sans-serif;
    font-size: 28px;

}
a{
    font-family: 'Fira Sans', sans-serif;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}